.navbar{
    /*background-color: #0C285C;*/
    background-image: linear-gradient(to right, #0C285C, rgb(25, 62, 165), rgb(78, 118, 228));
    /* max-height: 80px; */
    position: -webkit-sticky;
    position: sticky;
}

.navbar .nav-brand{
    color:aquamarine
}
.navbar .navbar-nav li a{
    color:antiquewhite;  
    padding-left:50px;
    padding-right:50px;

}


.linkText{ 
    color: white;     
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding-right:20px;
    padding-left:20px;



}

.dropdown-item {
    color: #ffffff;  
}

#nav-dropdown {
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding-top: 5px
}
