.navbar{
    background-color: #0C285C;
}

.navbar .nav-brand{
    color:aquamarine
}
.navbar .navbar-nav li a{
    color:antiquewhite;
}

.linkText{ color: white;     
    /* font-family: "Audiowide", sans-serif; */
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.dropdown-item {
    color: #ffffff;  
}

#nav-dropdown {
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding-top: 5px
}
